/* USER VARIABLES SECTION */

:root {
	--mainColor: #0abab5;
	--bgMoon: #263440;
	--bgSun: #faf3e6;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: 'Josefin Sans', sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--mainColor);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}


/* HEADER */

.header {
	background-color: var(--bgMoon);
	height: 100vh;
}

.header__container {
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 25px;
}
.header__column {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

/* Header Top */

.header__top {
	display: flex;
	min-height: 130px;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	gap: 1em;
}

/* Header Logo */

.header__logo {
	color: var(--text);
	font-size: 25px;
	font-weight: 700;
}

/* Header Nav */

.header__nav{
	display: flex;
	align-items: center;
	justify-content: end;
	min-width: 500px;
}

.header__nav-en {

}

.header__list {
	display: flex;
	gap: 3em;
}
.header__link {
	color: #fff;
	transition: all .25s ease-in-out;
}
.header__link:hover{
	color: var(--mainColor);
}
.header__nav-ru {
	display: none;
}

/* Header Buttons */

.header__buttons{
	display: flex;
	justify-content: space-between;
	min-width: 250px;
	gap: 1em;
}

/* Header Contact */

.header__contact {
}
.header__contact--button {
	padding: 10px 15px;
	background-color: var(--mainColor);
	color: #fff;
	font-weight: 600;
	border-radius: 25px;
	box-shadow: 0 0 5px var(--mainColor);
	animation: k-contact 2s ease-in-out infinite;
}

.header__contact--button:hover {
    background-color: var(--mainColor);
    transform: scale(1.05); /* Небольшое увеличение при наведении */
}

.header__contact--button-en {
}
.header__contact--button-ru {
	display: none;
}

/* Header mini Buttons ( En-Ru | Night-Light ) */

.header__mini-buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

/* Header Translate */

.header__translate {
}
.header__translate--button{
	text-align: center;
	background-color: var(--mainColor);
	color: #fff;
	width: 30px;
	height: 30px;
	font-weight: 600;
	padding: 7px;
	border-radius: 50%;
	box-shadow: 0 0 5px var(--mainColor);
	transition: all .4s ease-in-out;
}
.header__translate--button:hover,
.header__theme--button:hover {
    box-shadow: 0 0 11px var(--mainColor);
}

.header__translate--button:active,
.header__theme--button:active {
    transform: scale(0.95); /* Небольшое уменьшение при активации */
}

.header__translate--button-en{
}
.header__translate--button-ru {
	display: none;
}

/* Header Theme */

.header__theme {
	display: flex;
	gap: 1em;
}
.header__theme--button-moon {
}
.header__theme--button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--mainColor);
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50%;
	box-shadow: 0 0 5px var(--mainColor);
	transition: all .35s ease-in-out;
}
.header__theme--button-icon{
	width: 80%;
	height: 80%;
}
.header__theme--button-sun {
	display: none;
}
.header__main {
}


.header__burger {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger-layer {
    width: 100%;
    height: 2px;
    background-color: var(--text); /* Цвет слоев бургера */
    transition: background-color 0.3s ease;
}

.top {
    transform-origin: top;
}

.bottom {
    transform-origin: bottom;
}


.header__main--image{
	max-height: 100vh;
	max-width: 100%;
}


@keyframes k-contact{
	0% {
		box-shadow: 0 0 10px var(--mainColor);
	}
	50% {
		box-shadow: 0 0 15px var(--mainColor);
	}
	100%{
		box-shadow: 0 0 10px var(--mainColor);
	}
}

/* main */

.main{

}


.about_our{
	min-width: 320px;
	height: 100vh;
	background: #252525;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container{
	max-width: 1680px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10em;
}

.menu__block--user{
	display: flex;
	gap: 3em;
}

.block__user{
	display: flex;
	background-color: #fff;
	max-width: 500px;
	align-items: center;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 7px #fff;
	cursor: pointer;
	transition: all .35s ease;
}

.block__user:hover{
	transform: scale(1.03);
	box-shadow: 0 0 11px #fff;
}
.block__user--left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .block__user--image-user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 10px;
    
  }












  .menu__block--stack{
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 5px 10px #0abab5;
  }